{% extends "layout.html" %}
{% block body %}

<style type="text/css">
    svg .axis path,
    svg .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    svg .datapoint {
        fill: #569BBD;
        fill-opacity: 0.5;
        stroke: #569BBD;
    }
    .panel {
        width: 200px;
        border-color: #808080;
        padding: 10px 10px 10px 10px;
    }
    .separator {
        margin-bottom: 10px;
        height: 1px;
        background-color: #808080;
    }
    .dropdown-toggle {
        width: 180px;
    }
</style>

<div class="row">
    <div class="col-md-9">
        <svg></svg>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <p>
                Scatterplot of various numerical attributes of 54 cars. Plot different variables against each other to visualize interesting trends in the data.
            </p>
            <div class="separator"></div>
            <p> X (horizontal axis) </p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                </ul>
            </div>
            <br/>
            <p>Y (vertical axis) </p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

var variables = ["passengers", "weight", "price", "mpgCity"];
    var names = {"passengers" : "Passengers",
                         "weight" : "Weight (pounds)",
                         "price" : "Price ($1000s)",
                         "mpgCity" : "Miles Per Gallon"}

menu = $(".dropdown-menu");
variables.forEach(function(element, index, array){
    menu.append("<li role='presentation'><a role='menuitem' tabindex='-1' href='#'>"
                + names[element]
                + "</a></li>");
});

var margin = {top: 20, right: 20, bottom: 30, left: 60},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

var scatterplot = function(var1, var2){

    d3.tsv("../static/data/00/cars.txt", function(error, data) {
        d3.selectAll(".graph-component").remove();

        data.forEach(function(d) {
            d[var1] = +d[var1];
            d[var2] = +d[var2];
        });

        x.domain(d3.extent(data, function(d) { return d[var1]; })).nice();
        y.domain(d3.extent(data, function(d) { return d[var2]; })).nice();

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .classed("graph-component", true)
        .append("text")
            .attr("class", "label graph-component")
            .attr("x", width)
            .attr("y", -6)
            .style("text-anchor", "end")
            .text(names[var1]);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .classed("graph-component", true)
        .append("text")
            .attr("class", "label graph-component")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(names[var2])

        svg.selectAll(".datapoint")
            .data(data)
            .enter()
            .append("circle")
            .attr("class", "datapoint graph-component")
            .attr("r", 5)
            .attr("cx", function(d) { return x(d[var1]); })
            .attr("cy", function(d) { return y(d[var2]); })

        svg.selectAll(".datapoint").each(function(d){
            insertHTML = "";
            variables.forEach(function(variable){
                insertHTML = insertHTML + variable + " : " + d[variable] + "<br/>"
            });

            options = {
                container: 'body',
                html: true,
                placement: "right",
                template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
                title: insertHTML,
                trigger: 'hover focus click'
            }
            //$(this).tooltip(options)
        });

        svg.selectAll(".datapoint")
            .on("mouseover", function(d){
                //$(this).tooltip('show');

                tooltip.transition()
                    .duration(200)
                    .style("opacity", .9);
                tooltip.html((function(){
                    str = "";
                    variables.forEach(function(element, index, array){
                        str = str + element + " : " + d[element] + "<br/>"
                    });
                    return str;
                })())
                    .style("left", (d3.event.pageX + 6) + "px")
                    .style("top", (d3.event.pageY - 65) + "px");
            })
            .on("mouseout", function(d) {
                //$(this).tooltip('hide');

                tooltip.transition()
                    .duration(200)
                    .style("opacity", 0);
            });
        });
    };

$(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    var dropdownButton = $(this).parents("ul").siblings("button");
    dropdownButton.html(selText + '<span class="caret"></span>');
    dropdownButton.trigger("change");
});

function wrap(text, width) {
    displacedHeight = 0;
    text.each(function() {
        var text = d3.select(this),
                words = text.text().split(/\s+/).reverse(),
                word,
                line = [],
                lineNumber = 0,
                lineHeight = 1.1, // ems
                x = text.attr("x"),
                y = text.attr("y"),
                dy = parseFloat(text.attr("dy")),
                tspan = text.text(null).append("tspan").attr("x", x).attr("y", y).attr("dy", dy + "em");
        while (word = words.pop()) {
            line.push(word);
            tspan.text(line.join(" "));
            if (tspan.node().getComputedTextLength() > width) {
                line.pop();
                tspan.text(line.join(" "));
                line = [word];
                tspan = text.append("tspan").attr("x", x).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
            }
        }
        text.data([this.getBoundingClientRect()]);
    });
    console.log(displacedHeight)
    return displacedHeight;
}

var displayNote = function(var1, var2){
    d3.selectAll(".note").remove();

    if(var1 == var2) {
        note1 = d3.select('svg').append('text')
            .text("Note: You've plotted a variable against itself. That's why the points are in line perfectly!")
            .attr("class", "note")
            .attr("x",800)
            .attr("y",250)
            .attr("dy",'0.71em')
            .attr("font-family","sans-serif")
            .call(wrap, 150);
    }

    if(var1 == variables[0] || var2 == variables[0]) {
        d3.select('svg').append('text')
            .text("Note: You've plotted using the passengers variable. This quantity is discrete, and can sensibly only take on values 4, 5, 6!")
            .attr("class", "note")
            .attr("x",800)
            .attr("y", note1.data()[0]['bottom'] + 20)
            .attr("dy",'0.71em')
            .attr("font-family","sans-serif")
            .call(wrap, 150);
    }
}

$("button").change(function(){
    var1Name = $("#dropdownMenu1").text();
    var2Name = $("#dropdownMenu2").text();
    var1 = Object.keys(names).filter(function(key) {return names[key] === var1Name})[0];
    var2 = Object.keys(names).filter(function(key) {return names[key] === var2Name})[0];
    scatterplot(var1, var2);
    displayNote(var1, var2);
})

$('#dropdownMenu1').siblings("ul").find("a:contains(" + names[variables[1]] +")").click();
$('#dropdownMenu2').siblings("ul").find("a:contains(" + names[variables[2]] +")").click();

</script>

{% endblock %}
