{% extends "layout.html" %}
{% block body %}

<style type="text/css">
    svg .axis path,
    svg .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    svg .datapoint {
        fill: #569BBD;
        fill-opacity: 0.5;
        stroke: #569BBD;
    }
    .panel {
        width: 200px;
        border-color: #808080;
        padding: 10px 10px 10px 10px;
    }
    .separator {
        margin-bottom: 10px;
        height: 1px;
        background-color: #808080;
    }
    .dropdown-toggle {
        width: 180px;
    }
</style>

<div class="row">
    <div class="col-md-9">
        <svg></svg>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <p>
                Dot plot. Move around the red triangle, and see how the mean can be thought of as a fulcrum.
            </p>
            <div class="separator"></div>
            Switch up the dataset as well:
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

var variables = ["num_char", "line_breaks"];
var names = {"num_char" : "Number of Characters",
                     "line_breaks" : "Number of Line Breaks"}

menu = $(".dropdown-menu");
variables.forEach(function(element, index, array){
    menu.append("<li role='presentation'><a role='menuitem' tabindex='-1' href='#'>"
                + names[element]
                + "</a></li>");
});

var margin = {top: 20, right: 20, bottom: 50, left: 60},
    width = 960 - margin.left - margin.right,
    height = 200 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var svg = d3.select("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var dotplot = function(variable){
    d3.tsv("../static/data/00/email50.txt", function(error, data) {
        d3.selectAll(".graph-component").remove();

        sum = 0;
        data.forEach(function(d) {
            d[variable] = Math.round(+d[variable]);
            sum = sum + d[variable];
        });
        mean = sum/data.length;

        x.domain(d3.extent(data, function(d) { return d[variable]; })).nice();

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .classed("graph-component", true)
        .append("text")
            .attr("class", "label graph-component")
            .attr("x", width/2)
            .attr("y", 45)
            .style("text-anchor", "end")
            .text(names[variable]);

        datapointRadius = 5;
        svg.selectAll(".datapoint")
            .data(data)
            .enter()
            .append("circle")
            .attr("class", "datapoint graph-component")
            .attr("r", datapointRadius)
            .attr("cx", function(d) { return x(d[variable]); })
            .attr("cy", 100)

        towers = {};
        towerStart = 100;
        a = []
        svg.selectAll(".datapoint").each(function(d, i){
            if(towers.hasOwnProperty(d[variable])){
                d3.select(this).attr("cy", towerStart - 2.5 * datapointRadius * towers[d[variable]])
                towers[d[variable]] = towers[d[variable]] + 1;
            } else {
                d3.select(this).attr("cy", towerStart)
                towers[d[variable]] = 1;
            }
        });

        svg.append("polygon")
            .attr("points", "" + (x(mean) + 30) + ",129 " + x(mean) + ",110 " + (x(mean) - 30) + ",129")
            .style("fill", "#F05133")
            .attr("class", "meanTriangle graph-component");
    });
}

$(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    var dropdownButton = $(this).parents("ul").siblings("button");
    dropdownButton.html(selText + '<span class="caret"></span>');
    dropdownButton.trigger("change");
});

$("button").change(function(){
    variableName = $("#dropdownMenu").text();
    variable = Object.keys(names).filter(function(key) {return names[key] === variableName})[0];
    dotplot(variable);
})

$('#dropdownMenu').siblings("ul").find("a:contains(" + names[variables[0]] +")").click();

</script>

{% endblock %}
