{% extends "layout.html" %}
{% block body %}
    <ul>
        <li><a href="{{ url_for('chap1_srs') }}">{{ url_for('chap1_srs') }}</a></li>
        <li><a href="{{ url_for('chap1_stratas') }}">{{ url_for('chap1_stratas') }}</a></li>
        <li><a href="{{ url_for('chap1_cluster') }}">{{ url_for('chap1_cluster') }}</a></li>
        <li><a href="{{ url_for('chap1_pop_to_sample') }}">{{ url_for('chap1_pop_to_sample') }}</a></li>
        <li><a href="{{ url_for('chap1_pop_to_sample_graduates') }}">{{ url_for('chap1_pop_to_sample_graduates') }}</a></li>
        <li><a href="{{ url_for('chap1_survey_sample') }}">{{ url_for('chap1_survey_sample') }}</a></li>
        <li><a href="{{ url_for('chap1_blocking') }}">{{ url_for('chap1_blocking') }}</a></li>
        <li><a href="{{ url_for('chap1_email50_lines_vs_chars') }}">{{ url_for('chap1_email50_lines_vs_chars') }}</a></li>
        <li><a href="{{ url_for('chap1_cars_price_vs_weight') }}">{{ url_for('chap1_cars_price_vs_weight') }}</a></li>
    </ul>
{% endblock %}
