{% extends "layout.html" %}
{% block body %}

<script src="../static/js/jstat.js"></script>

<style type="text/css">
    svg {
      font: 14px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .dot {
      stroke: #569BBD;
      stroke-width: 2;
      fill: white;
    }
    .line {
        fill: none;
        stroke: #000;
    }
</style>

<div class="row">
    <div id="svgWrapper" class="col-md-7"></div>
</div>

<script>

var ppoints = function(n, a){
    a = a || (n <= 10 ? 3/8 : 1/2)
    return d3.range(1,n+1).map(function(d, i){
        return (d - a)/(n + (1 - a) - a)
    });
}

var preprocessData = function(data){
    data.forEach(function(d) {
        d["height"] = +d["heights"];
        delete d["heights"]
    });
    data.sort(function(a, b){
        if (a["height"] < b["height"]) {
            return -1
        }
        if (a["height"] > b['height']) {
            return 1;
        } return 0;
    });
    percentiles = ppoints(data.length);
    data.forEach(function(d, i) {
        d["percentile"] = percentiles[i];
        d["theoreticalQuantile"] = jStat.normal.inv(d["percentile"],0,1);
    })
    return data;
}

var margin = {top: 20, right: 20, bottom: 30, left: 40},
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom,
      dotPlotWidth = 160,
      scatterPlotWidth = width - dotPlotWidth;

var svg = d3.select("#svgWrapper").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)

svg.append("g")
    .attr("class","dotPlot")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.append("g")
    .attr("class","scatterPlot")
    .attr("transform", "translate(" + (margin.left + dotPlotWidth) + "," + margin.top + ")");

var data = [];

d3.csv("../static/data/00/maleHeights.txt", function(error, csv) {
    data = preprocessData(csv);

    var xValue = function(d) { return d["theoreticalQuantile"]; },
          xScale = d3.scale.linear()
            .domain(d3.extent(data, xValue)).nice()
            .range([0, scatterPlotWidth]),
          xMap = function(d) { return xScale(xValue(d)); },
          xAxis = d3.svg.axis().scale(xScale).orient("bottom");

    var yValue = function(d) { return d["height"]; },
          yScale = d3.scale.linear()
            .domain(d3.extent(data, yValue)).nice()
            .range([height, 0]),
          yMap = function(d) { return yScale(yValue(d)); },
          yAxis = d3.svg.axis().scale(yScale).orient("left");

    // scatter

    scatterPlot = svg.select("g.scatterPlot")

    scatterPlot.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
    .append("text")
        .attr("class", "label")
        .attr("x", scatterPlotWidth)
        .attr("y", -6)
        .style("text-anchor", "end")
        .text("Theoretical Quantiles");

    scatterPlot.append("g")
        .attr("class", "y axis")
        //.attr("transform", "translate(" + dotPlotWidth + ",0)")
        .call(yAxis)
    .append("text")
        .attr("class", "label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Heights (in)")

    scatterPlot.selectAll(".scatterPlot .dot")
        .data(data)
    .enter().append("circle")
        .attr("class", function(d, i){
            console.log(i)
            return "scatterPlot dot data-" + i })
        .attr("r", 3.5)
        .attr("cx", function(d) { return xMap(d); })
        .attr("cy", function(d) { return yMap(d); })

    // line

    var line = d3.svg.line()
        .x(function(d) { return d.x; })
        .y(function(d) { return d.y; })
        .interpolate("linear");

    mean = jStat.mean(data.map(yValue));
    stdev = jStat.stdev(data.map(yValue));
    minX = d3.min(data, xValue);
    maxX = d3.max(data, xValue);

    lineData = [
        {"x": xScale(maxX), "y": yScale(mean + stdev * maxX)},
        {"x": xScale(minX), "y": yScale(mean - stdev * maxX)}]

    scatterPlot.append("path")
        .attr("class", "line")
        .attr("d", line(lineData))
        .style("stroke-dasharray", ("3, 3"));

    // dot plot

    datapointRadius = 3.5;

    dotPlot = svg.select("g.dotPlot");
    dotPlot.selectAll(".dotPlot .dot")
        .data(data)
    .enter().append("circle")
        .attr("class", function(d, i){
            return "dotPlot dot data-" + i })
        .attr("r", datapointRadius)
        .attr("cx", margin.left)
        .attr("cy", yMap)
        .style("opacity","0.5")

    towers = {};
    towerStart = dotPlotWidth - margin.left;
    dotPlot.selectAll(".dotPlot.dot").each(function(d, i){
        if(towers.hasOwnProperty(yValue(d))){
            d3.select(this).attr("cx", towerStart - 2.5 * datapointRadius * towers[yValue(d)])
            towers[yValue(d)] = towers[yValue(d)] + 1;
        } else {
            d3.select(this).attr("cx", towerStart)
            towers[yValue(d)] = 1;
        }
    });

    // highlighting points
    expand = function(d, i){
        d3.selectAll(".dot.data-" + i)
            .attr("r", datapointRadius*3)
    }
    shrink = function(d, i){
        d3.selectAll(".dot.data-" + i)
            .attr("r", datapointRadius)
    }

    d3.selectAll(".scatterPlot.dot")
        .on("mouseenter", expand)
        .on("mouseleave", shrink);
    d3.selectAll(".dotPlot.dot")
        .on("mouseenter", expand)
        .on("mouseleave", shrink);
});

</script>

{% endblock %}
