{% extends "layout.html" %}
{% block body %}

<script src="../static/js/jstat.js"></script>
<link rel="stylesheet" href="../static/css/jquery-ui.css">
<script src="../static/js/jquery-ui.min.js"></script>
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
-->
<style type="text/css">
    *:focus {
        outline: 0;
    }
    .panel {
        width: 320px;
        border-color: #808080;
        padding: 10px;
        margin-left: 80px;
    }
    svg {
        font: 14px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .dot {
        fill: #569BBD;
        opacity: 0.5;
    }
    .selected {
        fill: #F05133;
        opacity: 1;
    }
    .line {
        fill: none;
        stroke: #000;
    }
    .bar {
        opacity: 0.2;
    }
    .sliderWrapper {
        width: 300px;
        display: inline-block;
    }
    div[id^='slider'] {
        margin-left: 12px;
        margin-right: 10px;
    }
</style>

<div class="row">
    <div id="svgWrapper" class="col-md-7"></div>
    <div class="col-md-5">
        <div class="panel">
            <p> Sample size: <tspan id="numPoints"></tspan>
                <div class="sampleSize sliderWrapper">
                    <div id="slider-sampleSize"></div>
                </div>
            </p>
            <p>Thickness of Tail
                <div class="tailSize sliderWrapper">
                    <div id="slider-tailSize"></div>
                </div>
            </p>
            <p>Skew left, skew right
                <div class="overlayWrapper"></div>
            </p>

        </div>
    </div>
</div>

<script>

// other

sampleSizeSvg = d3.select(".sampleSize.sliderWrapper").append("svg")
    .attr("width", 310)
    .attr("height", 30)
.append("g")
    .attr("id", "sampleSizeAxis")

axisWidth = 270;
sampleSizeScale = d3.scale.pow().exponent(1/3)
    .domain([1, 1000])
    .range([0, axisWidth])
sampleSizeAxis = d3.svg.axis()
    .scale(sampleSizeScale)
    .orient("bottom")
    .tickValues([1, 10, 100, 500, 1000])
d3.select("#sampleSizeAxis")
    .attr("transform", "translate(12,10)")
    .attr("class", "axis")
    .call(sampleSizeAxis)

tailSizeSvg = d3.select(".tailSize.sliderWrapper").append("svg")
    .attr("width", 310)
    .attr("height", 30)
.append("g")
    .attr("id", "tailSizeAxis")

tailSizeScale = d3.scale.linear()
    .domain([0, 10])
    .range([0, axisWidth])
tailSizeAxis = d3.svg.axis()
    .scale(tailSizeScale)
    .orient("bottom")
    .ticks(4)
d3.select("#tailSizeAxis")
    .attr("transform", "translate(12,10)")
    .attr("class", "axis")
    .call(tailSizeAxis)

// body

var margin = {top: 20, right: 20, bottom: 30, left: 40},
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom,
      histogramWidth = 160,
      scatterPlotWidth = width - histogramWidth;

var svg = d3.select("#svgWrapper").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom);

svg.append("g")
    .attr("id","histogramPlotWrapper")
    .attr("transform", "translate(" + (margin.left - 2) + "," + (margin.top + height) + ")rotate(-90)");

svg.append("g")
    .attr("id","scatterPlotWrapper")
    .attr("transform", "translate(" + (margin.left + histogramWidth) + "," + margin.top + ")");

var numPoints = 100;
var tailSize = 0;
var tailToggle = false;
var skewOptions = {};
var skewToggle = false;
var data = [];


var initSampleSizeSlider = function(){
    var exponent = 3
    var startingValue = Math.pow(numPoints, 1/exponent);

    var slideFunction = function(event, ui){
        numPoints = Math.floor(Math.pow(ui.value, exponent));
        d3.select("#numPoints").text(numPoints);
        renderPlots();
    }
    $( "#slider-sampleSize" )
        .slider({
            disabled: false,
            max: 10,
            min: 1,
            step: 0.01,
            slide: slideFunction })
        .slider("value", startingValue); // default starting value

    d3.select("#numPoints").text(numPoints);
}
initSampleSizeSlider();


var initTailSizeSlider = function(){
    var startingValue = 0;

    var slideFunction = function(event, ui){
        tailSize = ui.value;
        if(tailSize == 0) {
            tailToggle = false;
        } else {
            tailToggle = true;
        }
        renderPlots();
    }
    $( "#slider-tailSize" )
        .slider({
            disabled: false,
            max: 10,
            min: 0,
            step: 0.01,
            slide: slideFunction })
        .slider("value", startingValue);
}
initTailSizeSlider();

var initSkewOverlay = function() {
    // change cursor style to cross hair

    overlaySVGWidth = 300;
    overlaySVGHeight = 150;
    overlaySVG = d3.select(".overlayWrapper").append("svg")
        .attr("width", overlaySVGWidth)
        .attr("height", overlaySVGHeight)

    overlaySVGmargin = {top: 10, right: 10, bottom: 10, left: 10};
    rectWidth = overlaySVGWidth - overlaySVGmargin.left - overlaySVGmargin.right;
    rectHeight = overlaySVGHeight - overlaySVGmargin.top - overlaySVGmargin.bottom;

    g = overlaySVG.append("g")
        .attr("transform","translate(" + overlaySVGmargin.left + "," + overlaySVGmargin.top + ")")

    g.append("rect")
        .attr("width", rectWidth)
        .attr("height", rectHeight)
        .style("color", "gray")
        .style("opacity", 0.1)


    var radius = 5
    var xScale = d3.scale.linear()
        .domain([radius, rectWidth - radius])
        .range([3/7,7/3])
    var yScale = d3.scale.linear()
        .domain([radius, rectHeight - radius])
        .range([1, 10])

    function dragmove() {
        var cx = Math.max(radius, Math.min(rectWidth - radius, d3.event.x))
        var cy = Math.max(radius, Math.min(rectHeight - radius, d3.event.y))

        d3.select(this)
            .attr("cx", cx)
            .attr("cy", cy);
        tailToggle = false;
        skewToggle = true;
        skewOptions["location"] = xScale(cx);
        skewOptions["scale"] = yScale(cy);
        renderPlots();
    }

    var drag = d3.behavior.drag()
        .on("drag", dragmove);

    g.append("circle")
        .attr("r", radius)
        .attr("cx", rectWidth / 2)
        .attr("cy", rectHeight / 2)
        .call(drag)
}
initSkewOverlay();

var initPlots = function() {

    // scatter

    var scatterPlot = svg.select("g#scatterPlotWrapper");

    scatterPlot.append("g")
        .attr("class", "x axis scatterPlot")
        .attr("transform", "translate(0," + height + ")")
    .append("text")
        .attr("class", "label")
        .attr("x", scatterPlotWidth)
        .attr("y", -6)
        .style("text-anchor", "end")
        .text("Theoretical Quantiles");

    scatterPlot.append("g")
        .attr("class", "y axis scatterPlot")

    // histogram

   var histogramPlot = svg.select("g#histogramPlotWrapper");

    histogramPlot.append("g")
        .attr("class", "y axis histogramPlot")
    .append("text")
        .attr("class", "label")
        .attr("transform", "rotate(90)")
        .attr("y", -12)
        .attr("dy", ".71em")
        .style("text-anchor", "start")
        .text("Frequency");

}
initPlots();

// https://stat.ethz.ch/R-manual/R-patched/library/stats/html/ppoints.html
var ppoints = function(n, a) {
    a = a || (n <= 10 ? 3/8 : 1/2);
    return d3.range(1,n+1).map(function(d, i) {
        return (d - a)/(n + (1 - a) - a);
    });
}

var preprocessData = function(dataArray) {
    dataArray.sort(d3.ascending);
    percentiles = ppoints(dataArray.length);
    objectData = Array(dataArray.length);
    dataArray.forEach(function(d, i) {
        obj = {}
        obj["observedQuantity"] = d;
        obj["percentile"] = percentiles[i];
        obj["theoreticalQuantile"] = jStat.normal.inv(obj["percentile"],0,1);
        objectData[i] = obj; });
    return objectData;
}

var generateRandomData = function() {
    var sampler;
    if (tailToggle) {
        console.log("studentt")
        sampler = function() { return jStat.studentt.sample(tailSize); }
    } else if (skewToggle) {
        console.log("skew")
        // alpha = skewOptions["location"]
        // skewOptions["scale"]
        sampler = function() { return jStat.beta.sample(alpha, beta)}
    } else {
        console.log("normal")
        sampler = function() { return jStat.normal.sample(0, 1); }
    }
    return d3.range(numPoints).map(sampler);
}

var renderPlots = function() {
    var randData = generateRandomData();
    var data = preprocessData(randData);

    var xValue = function(d) { return d["theoreticalQuantile"]; },
          xScale = d3.scale.linear()
            .domain(d3.extent(data, xValue)).nice()
            .range([0, scatterPlotWidth]),
          xMap = function(d) { return xScale(xValue(d)); },
          xAxis = d3.svg.axis().scale(xScale).orient("bottom");

    var yValue = function(d) { return d["observedQuantity"]; },
          yScale = d3.scale.linear()
            .domain(d3.extent(data, yValue)).nice()
            .range([height, 0]),
          yMap = function(d) { return yScale(yValue(d)); },
          yAxis = d3.svg.axis().scale(yScale).orient("left")
                        .ticks(0);

    // update scatter

    var scatterPlot = svg.select("g#scatterPlotWrapper");

    var scatterPlotPoints = scatterPlot.selectAll("circle.scatterPlot.dot")
        .data(data)

    scatterPlotPoints.enter().append("circle")
        .attr("class", function(d, i) {
            return "scatterPlot dot data-" + i })
        .attr("r", 3.5)

    scatterPlotPoints
        .attr("cx", function(d) { return xMap(d); })
        .attr("cy", function(d) { return yMap(d); });

    scatterPlotPoints.exit().remove()

    scatterPlot.select(".x.axis")
        .call(xAxis)
    scatterPlot.select(".y.axis")
        .call(yAxis)

    // update histogram

    var histogramPlot = svg.select("g#histogramPlotWrapper");

    var observedQuantities = data.map(yValue);

    var xScaleHistogram = d3.scale.linear()
        .domain(d3.extent(data, yValue)).nice()
        .range([0, height]);

    var histData = d3.layout.histogram()
        .range([d3.min(observedQuantities), d3.max(observedQuantities)])
        .bins(15)
        (observedQuantities);

    var yScaleHistogram = d3.scale.linear()
        .domain([0, d3.max(histData, function(d) { return d.y; })])
        .range([histogramWidth, 0]);

    var yAxis = d3.svg.axis()
        .scale(yScaleHistogram)
        .tickValues([ Math.round(yScaleHistogram.domain()[1]),
                           Math.round(yScaleHistogram.domain()[1]/2) ])
        .orient("left");

    histogramPlot.select(".y.axis")
        .call(yAxis)

    bar = histogramPlot.selectAll("rect.bar")
        .data(histData)

    bar.enter().append("rect")
        .attr("class", "bar")

    bar
        .attr("x", function(d){
            return xScaleHistogram(d.x) + 1; })
        .attr("y", function(d){
            return yScaleHistogram(d.y); })
        .attr("width", function(d) {
            return xScaleHistogram(d3.min(observedQuantities) + histData[0].dx) - xScaleHistogram(d3.min(observedQuantities)) - 1; })
        .attr("height", function(d) { return histogramWidth - yScaleHistogram(d.y); });

    // update line

    var line = d3.svg.line()
        .x(function(d) { return d.x; })
        .y(function(d) { return d.y; })
        .interpolate("linear");

    mean = jStat.mean(data.map(yValue));
    stdev = jStat.stdev(data.map(yValue));
    minX = d3.min(data, xValue);
    maxX = d3.max(data, xValue);

    lineData = [
        {"x": xScale(maxX), "y": yScale(mean + stdev * maxX)},
        {"x": xScale(minX), "y": yScale(mean - stdev * maxX)}];

    path = scatterPlot.selectAll("path.line")
        .data(lineData)

    path.enter().append("path")
        .attr("class", "line")

    path
        .attr("d", line(lineData))
        .style("stroke-dasharray", ("3, 3"));
}
renderPlots();

</script>

{% endblock %}
