{% extends "layout.html" %}
{% block body %}
<style>

.chart .bar{
    fill: #569BBD;
}

</style>

<div class="row">
    <div class="col-md-9">
        <svg class="singleModal chart"></svg>
        <svg class="biModal chart"></svg>
        <svg class="multiModal chart"></svg>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <p>
                Histogram. Drop a "limp spaghetti" to see the peaks in the distribution more clearly. From left to right, we observe single modal, bimodal, and multimodal distributions.
            </p>
        </div>
    </div>
</div>

<script>

var width = 320,
    height = 400;

var y = d3.scale.linear()
    .range([height, 0]);

var chart = d3.selectAll(".chart")
    .attr("width", width)
    .attr("height", height);

var drawHistogram = function(chartName, values){
    chart = d3.select(".chart." + chartName);

    var x = d3.scale.linear()
        .domain([0, d3.max(values, function(d) { return d; })])
        .range([0, width]);

    var data = d3.layout.histogram()
        .bins(x.ticks(14))
        (values);

    var y = d3.scale.linear()
        .domain([0, d3.max(data, function(d) { return d.y; })])
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var bar = chart.selectAll(".bar")
        .data(data)
    .enter().append("g")
        .attr("class", "bar")
        .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

    bar.append("rect")
        .attr("x", 1)
        .attr("width", x(data[0].dx) - 1)
        .attr("height", function(d) { return height - y(d.y); });

}

d3.json("../static/data/00/modalData.json", function(error, data) {
    for (key in data) { drawHistogram(key, data[key]); }
});

</script>

{% endblock %}
