{% extends "layout.html" %}
{% block body %}

<svg id="svg_canvas" width="800", height="400"></svg>
<div>
    <a id="button_strata" href="#"> Step 1. Select Stratas </a>
    <div></div>
    <a id="button_resample" href="#"> Step 2. Select Samples </a>
    <div></div>
    <a id="button_reset" href="#"> Reset </a>
</div>
<script type="text/javascript">
    // buttons
    d3.select("#button_reset").on("click", function(){
        var svg = d3.select("svg");
        generate_data();
        svg.selectAll("circle").remove();
        svg.selectAll("text").remove();

        var circles = svg.selectAll("circle")
        .data(data_points)
        .enter()
        .append("circle");

        circles.attr("cx", function(d, i) {
            return d["rand_cx"];
        })
        .attr("cy", function(d, i) {
            return d["rand_cy"];
        })
        .attr("r", function(d, i){
           return d["r"];
       })
        .attr("class", function(d, i){
           return d["class"];
       })
        .attr("color_name", function(d, i){
          return d["color_name"];
      })
        .style("fill", function(d, i){
           return d["color"];
       });
    });

    d3.select("#button_resample").on("click", function(){
    	var svg = d3.select("svg");
    	select_samples(svg);
    });

    d3.select("#button_strata").on("click", function(){
        var svg = d3.select("svg");
        strata_by_color(svg);
    });

    // SVG
    var svg = d3.select("#svg_canvas")
    var svg_width = svg.attr("width")
    var svg_height = svg.attr("height")
    point_width = 3;

    x_domain = [0, svg_width];
    x_range = [point_width, svg_width-point_width];
    var x_scale = d3.scale.linear().domain(x_domain).range(x_range);

    y_domain = [0, svg_height];
    y_range = [point_width, svg_height-point_width];
    var y_scale = d3.scale.linear().domain(y_domain).range(y_range);

    // colors
    blue = ["#569BBD", "#569BBDC0", "#569BBD80", "#569BBD40"];
    green = ["#4C721D", "#4C721DC0", "#4C721D80", "#4C721D40"];
    yellow = ["#F4DC00", "#F4DC00C0", "#F4DC0080", "#F4DC0040"];
    red = ["#F05133", "#F05133C0", "#F0513380", "#F0513340"];
    black = ["#000000", "#000000C0", "#00000080", "#00000040"];
    gray = ["#808080", "#808080C0", "#80808080", "#80808040"];
    lgray = ["#D9D9D9", "#D9D9D9C0", "#D9D9D980", "#D9D9D940"];
    colors = [blue[0], green[0], black[0], yellow[0]];
    color_names = ["blue","green","black","yellow"];

    // generate data
    pop_size = 100
    samp_size = 24
    data_stratas = [];
    strata_radius = 80
    data_points = [];
    var generate_data = function(){
    	data_stratas = [];
    	data_points = [];
    	// generate stratas
    	for( var i = 0; i < colors.length; i++){
    		strata = {
                "cx":  (i * ((svg_width) / colors.length) + strata_radius + 20),
                "cy": (svg_height/2),
                "r": strata_radius,
                "color": colors[i],
                "class": "strata_circle"
            };
            data_stratas.push(strata);
        }
        //generate points
        for(var i = 0; i < pop_size; i++){
                    index = Math.floor(Math.random()*colors.length);
                    strata = data_stratas[index]
                    rand_angle = Math.random() * 2 * Math.PI;
                    rand_radius = Math.random() * (strata["r"] - 5);
                    point = {
                        "rand_cx": x_scale(Math.random() * svg_width),
                        "rand_cy": y_scale(Math.random() * svg_height),
                        "strata_cx": (function(strata_origin_cx, strata_radius){
                        	return rand_radius * Math.cos(rand_angle) + strata_origin_cx;
                        })(strata["cx"], strata["r"]),
                        "strata_cy": (function(strata_origin_cy, strata_radius){
                        	return rand_radius * Math.sin(rand_angle) + strata_origin_cy;
                        })(strata["cy"], strata["r"]),
                        "color": colors[index],
              "color_name": color_names[index],
              "r": 3,
              "class": "point_circle"
          }
          data_points.push(point);
      }
    };

    // strata by color
    var strata_by_color = function(svg){
    	svg.selectAll(".selected_point_fill").remove();
      svg.selectAll(".selected_point_stroke").remove();

      svg.selectAll(".point_circle")
      .transition()
      .attr("cx", function(d, i) {
        return d["strata_cx"];
    })
      .attr("cy", function(d, i) {
        return d["strata_cy"];
    })

      var stratas = svg.selectAll(".strata_circle")
      .data(data_stratas)
      .enter()
      .append("circle")

      stratas.attr("cx", function(d, i){
        return d["cx"]
    })
      .attr("cy", function(d, i){
        return d["cy"]
    })
      .attr("r", function(d, i){
        return d["r"]
    })
      .attr("class", function(d, i){
         return d["class"]
     })
      .style("fill-opacity", 0)
      .style("stroke-width", 2)
      .style("stroke", gray[0]);

      var text = svg.selectAll("text")
      .data(data_stratas)
      .enter()
      .append("text")
      .text(function(d, i) {
        return "Strata " + (i + 1);
    })
      .attr("x", function(d, i){
        return d["cx"];
    })
      .attr("y", function(d, i){
        return d["cy"] + d["r"] + 20;
    })
      .attr("font-family", "sans-serif")
      .attr("font-size", 15)
      .attr("fill", gray[0])
      .attr("text-anchor", "middle");
    };

    // sample from stratas
    var sample_without_replacement = function(arr, num_samples){
        samples = []
        for(i = 0; i < num_samples; i++){
          var index = Math.floor(Math.random()*arr.length);
          samples.push(arr.splice(index, 1)[0]);
      }
      return samples;
    }

    var select_samples = function(svg){
    	svg.selectAll(".selected_point_fill").remove();
    	svg.selectAll(".selected_point_stroke").remove();

      for(var i = 0; i < colors.length; i++){
          var circles = svg.selectAll("[color_name=" + color_names[i] + "]");
          var samples = sample_without_replacement(circles[0], samp_size/colors.length);

          for(var j = 0; j < samples.length; j++){
            selected_point = d3.select(samples[j])

            svg.append("circle")
            .attr("class", "selected_point_fill")
            .attr("cx", selected_point.attr("cx"))
            .attr("cy", selected_point.attr("cy"))
            .attr("r",point_width)
            .style("fill",red[0]);

            svg.append("circle")
            .attr("class", "selected_point_stroke")
            .attr("cx", selected_point.attr("cx"))
            .attr("cy", selected_point.attr("cy"))
            .attr("r",point_width + 2)
            .style("fill-opacity",0)
            .style("stroke-width",1)
            .style("stroke",red[0]);
        }
    }
    };
</script>

{% endblock %}
